body{
  width: 80%;
  margin-left: 10%;
  margin-top: 10%;
  background-color: rgb(237, 235, 245);
}

.Helper{
  display: flex;
}

.right,.middle,.left{
  margin-right: 0;
  width: 30%;
  text-align: center;
  border: 1px solid black;
  margin: 20px;
  background-color: rgb(204, 198, 198);
  margin-left:auto;
  margin-right: auto;
  border-radius: 25px;
}

.difficulty,.game-over{
  text-align: center;
  border: 1px solid black;
  background-color: rgb(204, 198, 198);
  margin-left:auto;
  margin-right: auto;
  border-radius: 25px;
}

.diff{
  width: 10px;;
  height: 15px;
  border: 1px solid black;
  border-radius: 50%;
  background-color: white;
  
}

.diff:hover {
  background-color:rgb(218, 218, 218);
  cursor: pointer;
}

img{
  height: 40px;
  width: 40px;
  padding: 0;
  margin: 0;
  border: 0px;
}

.board-container{
  margin-top: 0%;
  margin-bottom: 0%;
  margin-left: auto;
  margin-right: auto;
  border: 4px solid black;
  width:max-content;
}

td{
  height: 30px;
  width: 30px;
  border: 4px solid black;
}


.cell{
  height: 35px;
  width: 40px;
  background-color: rgb(204, 198, 198);
  color: rgb(204, 198, 198);
  cursor: pointer;
}

.game-over{
  display: none;
  font-family: 'Courier New', Courier, monospace;
  font-size: larger;
  background-color: red;
}

.board-game{
  margin-left: auto;
  margin-right: auto;
}

.face{
  height: 26px;
  width: 50px;
}

.faces{
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-bottom: 0%;
}

.new-game{
  border-radius: 25px;
  background-color: yellow;
}

.new-game:hover{
  background-color: rgb(211, 211, 0);
  cursor: pointer;
}

.board-and-face{
  border: 4px solid black;
  height: fit-content;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  background-color: rgb(218, 218, 218);
}

.hints-help{
  display: flex;
}

.help{
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 10px;
}

.safe-click{
  background-color: blue;
  color: white;
}




